.card img {
    border-radius: 3px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card {
    background-color: #ffbdbd;
    border: 1px solid #e3e6ea;
    box-sizing: border-box;
    padding: 15px;
  }
  .card-header {
    background-color: #733333;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .card-body {
    padding: 1rem;
  }
  .card-text {
    margin-bottom: 1rem;
  }
  .btn-primary {
    width: 100%;
  }

 